/* Created by: Jakub Malhotra
* Created on: Jakub 2023
* This file contains the CSS for index.html
*/

.mdl-layout__header-row {
  justify-content: center;
  padding: 0;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

.mdl-textfield__error {
  color: coral;
}

.page-content {
  color: coral;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.page-content-answer {
  color: coral;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25rem;
}

.right-image {
  height: auto;
  width: 480px;
  float: right;
}

body {
  background-color: gray;
}

img {
  float: right;
  width: 500px;
  height: auto;
}
